.primary-btn {
  background-color: #f47930 !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  outline: none !important;
  border: 0 !important;
  padding: 10px 20px;
  cursor: pointer;
}
.secondary-btn {
  background-color: #ffffff !important;
  color: #f47930 !important;
  border-radius: 0;
  outline: none !important;
  border: 0 !important;
  padding: 10px 20px;
  cursor: pointer;
}

.primary-btn:active,
.secondary-btn:active {
  outline: none !important;
  border: 0 !important;
}
